<div id="numberOfAlarms" class="leftSide-block">  
    <ul id="numberOfAlarms-list" class="leftSide-ul">
        <li class="first">
            <span><i class="fa fa-tint"></i></span>
            <span>昨日报警数量</span>
            <br>
            <span class="d-value">{{numberOfAlarms.attributes.ZRnumOfAlarms.num}} </span>
            <span class="d-value">个</span>
        </li>
        <li>
            <span><i class="fa fa-tags"></i></span>
            <span>今日报警数量</span>
            <br>
            <span class="d-value">{{numberOfAlarms.attributes.JRnumOfAlarms.num}} </span>
            <span class="d-value">个</span>
        </li>
    </ul>
</div>