<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ViewUI example</title>
    <script src="./vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</head>
<body>

<div id="app">
	<span>质保工单：</span><input v-model="ticket" placeholder="日期CW_基地_序号"><br>
	<span>列车编号：</span><input v-model="train"><br>
	<span>车厢编号：</span><input v-model="compartment"><br>
	<span>故障类别：</span>
	<input type="radio" value="辅逆" v-model="category">辅逆
	<input type="radio" value="牵引" v-model="category">牵引
	<input type="radio" value="列控" v-model="category">列控<br>
	<!-- <p>{{ category }}</p> -->
	<!-- input 可缺省，<textarea ></textarea> 必须成对使用-->
	<span>故障现象：</span><textarea v-model="description"></textarea><br>
	<span>处理经过：</span><textarea v-model="action"></textarea><br>
</div>

<script>

var app = new Vue({
	el: '#app',
	data: {
		ticket: '',
		train: '',
		compartment: '',
		category: '',
		description: '',
		action: ''
	}
})
</script>

</body>
</html>