<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ViewUI example</title>
    <script src="./vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</head>
<body>

<div id="app">
	<span>质保工单：</span><input v-model="ticket" placeholder="日期CW_基地_序号">
	<input type="checkbox" v-model="ticket_checked"><br>
	<span>列车编号：</span><input v-model="train"><br>
	<span>车厢编号：</span><input v-model="compartment"><br>
	<span>故障类别：</span>
	<input type="radio" value="辅逆" v-model="category">辅逆
	<input type="radio" value="牵引" v-model="category">牵引
	<input type="radio" value="列控" v-model="category">列控<br>
	<span>故障级别：</span>
	<input type="radio" value="救援" v-model="type">救援
	<input type="radio" value="清客" v-model="type">清客
	<input type="radio" value="掉线" v-model="type">掉线
	<input type="radio" value="换表" v-model="type">换表
	<input type="radio" value="无影响" v-model="type">无影响
	<input type="radio" value="均修" v-model="type">均修<br>

	<!-- 复选框：与车厢号相同，不用再次输入 -->
	<span>故障位置：</span><input v-model="fault_compartment">
	<input type="checkbox" v-model="fault_compartment_checked"><br>

	<!-- input 可缺省，<textarea ></textarea> 必须成对使用-->
	<span>故障现象：</span><textarea v-model="description"></textarea><br>
	<span>处理经过：</span><textarea v-model="action"></textarea><br>
	<span>分厂报单：</span><input v-model="user_ticket"><br>

    <div class="box">
      <checker v-model="demo1" default-item-class="demo1-item" selected-item-class="demo1-item-selected">
      <checker-item value="1">{{ $t('潘') }}</checker-item>
      <checker-item value="2">{{ $t('闲') }}</checker-item>
      <checker-item value="3">{{ $t('邓') }}</checker-item>
      <checker-item value="4">{{ $t('小') }}</checker-item>
      <checker-item value="5">{{ $t('驴') }}</checker-item>
      </checker>
    </div>

</div>

<script>
// 局部 Vux 组件注册
import { Checker, CheckerItem } from 'vux'

var app = new Vue({
	el: '#app',
	data: {
		ticket: '',
		ticket_checked: '',
		train: '',
		compartment: '',
		category: '',
		type: '',
		fault_compartment: '',
		fault_compartment_checked: '',
		description: '',
		action: '',
		user_ticket: '',
		demo1: ''
	},
	components: {
    	Checker,
    	CheckerItem
  	}
})

// 如果 fault_compartment_checked = true（被选中），则 fault_compartment = train
</script>

<style scoped>
.box {
  padding: 0 15px;
}
.demo1-item {
  border: 1px solid #ececec;
  padding: 5px 15px;
}
.demo1-item-selected {
  border: 1px solid green;
}
</style>

</body>
</html>